.Contact {
    height: 30%;
    width: 60%;
    margin: 8% auto;
    background-color: #465d80;
    padding: 5%;
    border-radius: 20px;
    color: #ededed;
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.4em;
    line-height: 1.5em;
	text-align: center;
}