.MealSection {
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    margin: 1%;
    padding: 2%;
    border-radius: 20px;
    width: 25%;
    background-color: #c1d5f5;
}

.MealTitle {
	font-weight: 400;
}

.ShortLine {
	line-height: 0.5em;
}

.MealText {
	width: 100%;
	text-align: left;
}

.DividerLine {
	border: 1px solid #000;
}